.container{
    margin-bottom: 80px;
}
.carousel-bg{
    background-color: #FEEAE9;
    border-radius: 5px;
}
.text-highlight{
    color: #E91E6A;
}
.btn-color{
    color: #ffffff;
    background-color: #E91E6A;
}
.carousel-items-scale{
    padding: 20px 40px;
}
.categories h1{
 color: white;
}
.categories img{
    width: 100px;
}
.cat-1,.cat-2,.cat-3{
    padding: 10px 30px;
}
.cat-1{
    background: rgb(250,214,81);
background: linear-gradient(90deg, rgba(250,214,81,1) 0%, rgba(252,191,2,0.9948354341736695) 100%);
border-radius: 10px;
}
.cat-2{
    background: rgb(252,121,121);
    background: linear-gradient(90deg, rgba(252,121,121,1) 0%, rgba(255,60,57,1) 100%);
    border-radius: 10px;
}
.cat-3{
    background: rgb(143,143,255);
    background: linear-gradient(90deg, rgba(143,143,255,1) 0%, rgba(57,91,255,1) 100%);
    border-radius: 10px;
}
.card {
    border: none;
    box-shadow: 5px 3px 10px lightgrey;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
.text-center{
    padding-top: 20px;
}